body
{
background-color: lightblue;
}
h1
{
font-family: fantasy;
}
@keyframes new
{
    from {background-color:lightblue;}
    to {background-color:coral}
}
body {
    background-color: lightblue;
    animation-name: new;
    animation-duration: 6s;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: black;
}
  li {
    float: left;

  }
 li a {
    display: block;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }