table,th,tr
 {
	border: 1px solid black;
	font-family: monospace;
	}

	h1::before {  
		transform: scaleX(0);
		transform-origin: bottom right;
	  }
	  
	  h1:hover::before {
		transform: scaleX(1);
		transform-origin: bottom left;
	  }
	  
	  h1::before {
		content: " ";
		display: block;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		inset: 0 0 0 0;
		background: hsl(200 100% 80%);
		z-index: -1;
		transition: transform .3s ease;
	  }
	  
	  h1 {
		position: relative;
		font-size: 5rem;
	  }
	  
	  html {
		block-size: 100%;
		inline-size: 100%;
	  }
	  
	  body {
		min-block-size: 100%;
		min-inline-size: 100%;
		margin: 0;
		box-sizing: border-box;
		display: grid;
		place-content: center;
		font-family: system-ui, sans-serif;
	  }
	  
	  @media (orientation: landscape) {
		body {
		  grid-auto-flow: column;
		}
	  }

a:hover {
	color: greenyellow;
}

p
{
		font-family: monospace;
	}

body
{
background-color: lightblue;
}
h1
{
font-family: monospace;
}
h2
{
  font-family: monospace;
}
h3
{
  font-family: monospace;

}
li
{
font-family: monospace;
}
@keyframes new
{
    from {background-color:lightblue;}
    to {background-color:coral}
}
body {
    background-color: lightblue;
    animation-name: new;
    animation-duration: 6s;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

a {
	color: #FFF;
  font-family: monospace;
}


#container {
	margin: 0 auto;
}


nav {
	margin: 50px 0;
	background-color: black;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color:black;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:14px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: greenyellow;
  color: black; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }




